<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启包扫描-->
    <context:component-scan base-package="com.qf"></context:component-scan>

<!--    视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="demo01HandlerInterceptor" class="com.qf.handler.Demo01HandlerInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="demo02HandlerInterceptor" class="com.qf.handler.Demo02HandlerInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="demo03HandlerInterceptor" class="com.qf.handler.Demo03HandlerInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

<!--    <mvc:resources mapping="/js/*" location="/js/"></mvc:resources>-->
<!--    <mvc:resources mapping="/css/*" location="/css/"></mvc:resources>-->
<!--    <mvc:resources mapping="/img/*" location="/img/"></mvc:resources>-->

    <bean id="customExceptionResolver" class="com.qf.resolver.CustomExceptionResolver"></bean>

    <mvc:annotation-driven></mvc:annotation-driven>
</beans>